body {
  font-family: 'Source Code Pro' !important;
}

h1 {
  font-family: 'Source Code Pro' !important;
}

p {
  font-family: 'Source Code Pro' !important;
}

input {
  font-family: 'Source Code Pro' !important;
}
#message {
  font-weight: bold;
  font-size: 7rem;
  color: #194ed1;
}

#lines {
  font-weight: bolder;
}
#footer {
  position: fixed;
  z-index: 100;
  font-family: 'Quicksand';
  font-weight: bold;
}

  #footer {
    right: 5%;
    bottom: 5%;
  }

#footer a {
    text-decoration: none;
    font-weight: bolder;
}


@media (max-width: 600px) {
  #footer {
      display: none;
  }
}